---
---

@import "{{ site.theme }}";

body {
  background: #eeeeee;
  font:14px/22px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background: #555555;
}

#banner {
  background: #cccccc;
  border: 1px solid #cccccc;
}

h1 {
    font: 40px/48px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
